/* lAPTOP */
@media (max-width: 1200px) {
}

/* Ipad */
@media (max-width: 732px) {
  nav.navbar {
    width: 20%;
    position: fixed;
    padding: 5px 0;
    margin-top: 10px;
    margin-left: 5px;
  }

  #hero h2 {
    margin-top: 4rem;
  }

  .about-right-ctn {
    text-align: center;
  }

  #skill {
    display: flex !important;
    flex-direction: row !important;
  }

  .image img {
    width: 80px;
    height: 80px;
    margin: 10px !important;
  }
}

/* Handphone */
@media (max-width: 432px) {
  .image img {
    width: 80px;
    height: 80px;
    margin: 10px !important;
  }
}
