/* lAPTOP */
@media (max-width: 1200px) {
}

/* Ipad */
@media (max-width: 732px) {
  /* Navbar Default (Transparan) */
  .navbar {
    position: fixed;
    width: 30%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0); /* Transparan saat awal */
  }

  /* Navbar Berubah Warna Saat Scroll */
  .navbar-colored {
    background-color: rgba(12, 71, 81, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  /* Navbar Berubah Warna Saat Hamburger Menu Dibuka */
  .navbar-active {
    background-color: rgba(12, 71, 81, 0.9);
  }

  /* Hilangkan Background Saat Hamburger Menu Tertutup */
  .navbar:not(.navbar-colored):not(.navbar-active) {
    background: transparent;
  }
  nav.navbar {
    margin-top: 20px;
    margin-left: 10px;
  }

  nav .nav-link {
    padding: 5px !important;
    font-size: 13px;
  }

  #hero h1 {
    font-size: 1.6rem;
    animation: fadeIn 2s ease-in-out;
  }

  #hero h2 {
    margin-top: 4rem;
    font-size: 1.2rem;
    animation: fadeIn 2s ease-in-out;
  }

  #hero p {
    font-size: 1rem !important;
  }

  .cta {
    font-size: 15px !important;
  }

  .icon img {
    height: 30px;
    width: 30px;
  }

  img.img-fluid {
    margin-top: 20px;
    width: 200px;
    height: 300px;
  }

  #skill h1,
  #project h1,
  #sertifikat h1,
  .about-text {
    font-size: 20px;
  }

  hr {
    width: 140px;
  }
  .about-right-ctn p {
    font-size: 20px !important;
    text-align: center;
  }
}

/* Handphone */
@media (max-width: 432px) {
  #hero {
    min-height: 60vh;
    width: auto;
  }

  #about p {
    text-align: left;
    font-size: 17px !important;
  }

  .container-img img {
    margin-top: 0;
  }
}
