:root {
  --primary: #0c4651;
  --secondary: #898a8e;
  --text: #f8f7f2;
  --cta: #f59e0b;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}

nav.navbar {
  background-color: var(--primary);
  width: 100%;
  position: absolute;
  background: transparent;
  padding: 10px 0;
}

nav .nav-link {
  color: var(--text) !important;
  font-weight: 600;
  padding-top: 2rem !important;
  margin-right: 30px;
}

nav .nav-link.active {
  color: var(--cta) !important;
}

#hero {
  background: linear-gradient(120deg, #0c4651 50%, #898a8e 10%, #000 95%);
  color: var(--text);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#hero h1 {
  font-size: 3rem;
  font-weight: 550 !important;
}

#hero h2 {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
}

#hero p {
  font-size: 1.4rem !important;
  font-style: italic;
  font-weight: 100 !important;
  margin-top: 10px;
}

.cta {
  background-color: var(--cta);
  color: var(--text);
  font-weight: 500;
  padding: 5px 8px;
  font-size: 1.2rem !important;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}

.cta:hover {
  background-color: var(--secondary);
  color: #000;
}

.icon img {
  width: 40px;
  transition: transform 0.3s ease;
}

.icon img:hover {
  transform: scale(1.1);
}

img.img-fluid {
  width: 300px;
  height: 420px;
}

/* About */

#about {
  background-color: var(--primary);
  color: var(--text);
}

.about-text {
  font-weight: 700;
}

hr {
  width: 300px;
  height: 5px !important;
  color: var(--cta) !important;
  opacity: 100%;
  margin: 0px auto 50px auto;
}
.container-fluid {
  padding: 50px 15px;
  color: var(--text);
}

.about-right-ctn {
  font-size: 1.9rem;
  font-weight: 100;
  font-style: italic;
}

.container-img img {
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary);
}

#about p {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 100 !important;
}
/* skill */

#skill {
  width: 100%;
  align-content: center;
  background-color: var(--primary);
}

#skill h1 {
  font-weight: 700;
}

.image {
  text-align: center;
}

#project,
#sertifikat {
  background-color: var(--primary);
  color: var(--text);
  padding: 50px 0;
}
#project h1,
#sertifikat h1 {
  font-weight: 700;
}
#project img,
#sertifikat img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn {
  background-color: var(--cta);
  color: var(--text);
  font-size: 20px;
  font-weight: 600;
}
.project-item:hover,
.cert-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.social-icons a {
  margin: 0 10px;
  display: inline-block;
  transition: transform 0.3s ease;
}
.social-icons a:hover {
  transform: scale(1.1);
}
footer {
  background: linear-gradient(#0c4651, #898a8e);
  color: var(--text);
  font-size: 23px;
  padding: 20px 0;
}
