:root {
  --primary: #0c4651;
  --secondary: #898a8e;
  --text: #f8f7f2;
  --cta: #f59e0b;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}

nav.navbar {
  background-color: var(--primary);
  width: 100%;
  position: absolute;
  background: transparent;
  padding: 10px 0;
}

nav .nav-link {
  color: var(--text) !important;
  font-weight: 600;
  padding-top: 2rem !important;
  margin-right: 30px;
}

nav .nav-link.active {
  color: var(--cta) !important;
}

#hero {
  background: linear-gradient(110deg, #0c4651 50%, #898a8e 10%, #000 95%);
  color: var(--text);
  min-height: 95vh;
  display: flex;
  align-items: center;
}

#hero h1 {
  font-size: 3rem;
  font-weight: 550 !important;
}

#hero h2 {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
}

#hero p {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 100 !important;
  margin-top: 10px;
}

.cta {
  background-color: var(--cta);
  color: var(--text);
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}

.cta:hover {
  background-color: var(--secondary);
}

.icon img {
  width: 40px;
  transition: transform 0.3s ease;
}

.icon img:hover {
  transform: scale(1.1);
}

img.img-fluid {
  width: 300px;
  height: 420px;
}

/* About */
.container-fluid {
  padding: 50px 15px;
  background-color: #f8f9fa; /* Light background */
}

hr {
  width: 300px;
  height: 5px !important;
  color: var(--cta) !important;
  opacity: 100%;
  margin: 0px auto 50px auto;
}
.container-fluid {
  background: #05343d !important;
}

.container-img img {
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary);
}

/* Flexbox Layout */
